/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    GeistMono,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
}

@font-face {
  font-family: 'GeistMono500';
  src: url('/assets/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono600';
  src: url('/assets/fonts/Geist-SemiBold.woff2') format('woff2');
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel400';
  src: url('/assets/fonts/FixelText-Regular.woff2') format('woff2');
  font-weight: Medium;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel500';
  src: url('/assets/fonts/FixelText-Medium.woff2') format('woff2');
  font-weight: Medium;
  font-style: normal;
}


@font-face {
  font-family: 'Fixel600';
  src: url('/assets/fonts/FixelText-SemiBold.woff2') format('woff2');
  font-weight: Medium;
  font-style: normal;
}


.main-text-gradient {
  background: linear-gradient(90deg, #8000FF 72.08%, #C600FF 78.08%, #FF3B8C 81.61%, #FFC600 85.08%, #FF7800 91.16%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}

.orange-arrow-gradient {
  background: linear-gradient(125deg, #FBBF04 0.51%, #FF0013 92.48%);
}

.purplr-arrow-gradient {
  background: linear-gradient(280deg, #792FFF 0%, #C600FF 114.1%);
}

.my-checkbox {
  background-color: #8000FF;
}

.your-idea-gradient {
  background: linear-gradient(91deg, #8000FF 23.3%, #8000FF 25.15%, #0096EB 31.52%, #00F6B3 42.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
}

.our-expertise-gradient {
  background: linear-gradient(90deg, #FF548D 47.84%, #D700FF 61.19%, #5606EF 76.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
}

.card-background-gradient {
  background: linear-gradient(180deg, rgba(57, 1, 113, 0.00) 0%, rgba(102, 0, 202, 0.05) 100%);
}

.green-cese-gradient {
  background: linear-gradient(180deg, #E6FFF5 0%, rgba(249, 255, 255, 0.00) 100%);
}

.pink-case-gradient {
  background: linear-gradient(180deg, #FBE9FF 0.02%, rgba(255, 251, 255, 0.00) 99.98%);
}

.green-read-cese-gradient {
  background-color: -webkit-linear-gradient(90deg, #CE66FF 5.16%, #8000FF 70.36%); 
  background-color: linear-gradient(90deg, #CE66FF 5.16%, #8000FF 70.36%)
}



.your-vision-gradient {
  background: linear-gradient(90deg, #8000FF 26.35%, #0096EB 37.71%, #00F6B3 53.87%));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}



.precision-gradient {
  background: linear-gradient(90deg, #FF548D 12.04%, #D700FF 45.87%, #5606EF 81.7%));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}

.marquee-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marquee {
  display: flex;
  width: 200%;
  animation: marqueeSlide 20s linear infinite;
}

@keyframes marqueeSlide {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.marquee2 {
  display: flex;
  width: 200%;
  animation: marqueeSlide2 20s linear infinite;
}

@keyframes marqueeSlide2 {
    from { transform: translateX(-50%);}
    to { transform: translateX(0);  }
}

